body{
    margin: 0;
    padding: 0;
    /* background-image: url(dawn-landscape-mountains-247478.jpg); */
    background-size: cover;
    background-color: beige;
}
.void{
    left: 30%;
    position: absolute;
    padding: 10%;
    box-sizing: border-box;
    border-radius: 8%;
    
    
    
}
#bg{
    justify-content: center;
    align-items: center;
    background: none;
}
.main{
    filter: none; 
    padding:60px 40px 50px 40px ;
    color: black;
    border-color:white;
    top: 10px;
    bottom: 10px;
    border:10px;
    margin: 2px;
    box-shadow: inset 12px 5px 12px white,
                        12px 5px 12px rgba(0,0,0,.16);
    border-radius: 10%;
    /* background-image: url(dawn-landscape-mountains-247478.jpg); */

    
    
}
#pass{
    border: none ;
    top: 0px;
    padding: 0px;
    border-bottom:1px solid white  ;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: black;
}
#button{
    border: 20px;
    padding:10px 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: blue;
    color: white; 
    outline: none;
    margin-left: 50px;
    margin-top: 60px;

}
a{
    font-size: 15px;
    color: blue;
}
img{
    border-radius: 35px;
    position: absolute;
    margin-left: 100px;
    margin-top: -50px;

}
#button:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}
.home{
    padding: 20px;
    margin-top: 10px;
    margin-left: 63%;
}
.set{
    margin-left: 5px;
}
.he{
    margin-right: 1px;
}
